/* Add styling for your page here */

.App {
    display: flex;
    flex-flow: column;
    color: aliceblue;
    background-color:rgb(0, 0, 44);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    padding-block: 2em;
    padding-left: 1em;
}

.main-content {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    max-width: 70%;
    padding-inline: 1em;
    height: 100%;
}

.BakeryItem {
  display: flex;
  flex-flow: column;
  width: 40%;
  margin-inline: 1em;
  min-height: 80vh;
  height: 50%;
  margin-block: 1em;
  background-color: slateblue;
  justify-content: space-between;
  border-radius: 5%;
  transition: 0.5s ease;
}

.BakeryItem:hover {
    background-color: rgb(80, 62, 184);
}

.BakeryItem * {
    padding-inline: 5%;
}

.purchase-zone {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 5%;
}

.purchase-zone button {
    color: aliceblue;
    background-color:rgb(0, 0, 153);
    border-radius: 5%;
    font-family: inherit;
    transition: 0.3s ease;
    border: 1px solid rgb(0, 0, 153);
}

.purchase-zone button:hover {
    border: 1px solid white;
}



.BakeryItem img {
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding-inline: 0;
}

.cart {
    width: max-content;
}

h1 {
    margin-top: 0;
}
